@charset "utf-8";

/* all */
html, body{
    /* display: inline-block; */
    font-family: 'Skranji', cursive;
}
#canvas{
    float: left;
    background-color: #fefefe;
    background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/k/kentobon/20131005/20131005080742.png");
}
#score, #life{
    display: inline-block;    
    margin-top: 20px;
}
.gray_panel, .end_panel{
    /* display: none; */
    background : #000;
    opacity  : 0.5;
    width  : 100%;
    height  : 10000px;
    position : fixed;
    top   : 0;
    left  : 0;
    z-index  : 10;
}
.start, .popup {
    /* display: none; */
    position: absolute;
    background-color: #f6f6f6;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    z-index: 50;
    font-size: 48px;
    color: #d5142b;
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
}
.popup, .end_panel{
    display: none;
}